body {
    background-color: rgb(248, 249, 250);
    font-family: monospace;
}

h1 {
    font-weight: 900;
    font-size: 48px;
    /* font-stretch: expanded; */
}

.Select-value-label {
    font-size: x-large;
}

.card {
    width: 95vw;
    display: inline-block;
    margin: 2rem 1rem;
    background-color: #fff;
    padding: 2rem;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, .15);
    border-radius: 2px;
}